bindkey '^]' peco-src
function peco-src() {
  local src=$(ghq list --full-path | peco --query "$LBUFFER")
  if [ -n "$src" ]; then
      BUFFER="cd $src"
      zle accept-line
  fi
  zle -R -c
}
zle -N peco-src

function find-cd() {
  cd "$(find . -type d | peco)"
}
alias fc="find-cd"

function find-vim {
  vim "$(find . | peco --select-1)"
}
alias fv="find-vim"

function git-select-branch {
  git branch | peco --select-1 --query "$RBUFFER" | sed 's/\*//'
}

function git-checkout-from-peco {
  git checkout $(git-select-branch)
}
alias gcp="git-checkout-from-peco"

function git-push-from-peco {
  git push origin $(git-select-branch)
}
alias gpsp="git-push-from-peco"

function git-pull-from-peco {
  git pull origin $(git-select-branch)
}
alias gplp="git-pull-from-peco"

function ssh-select-host {
  ssh $(cat ~/.ssh/config | grep '^Host\s' | sed 's/Host//' | peco --select-1 --query "$RBUFFER" )
}
