function cdghq() {
  local src="$(ghq root)/$(ghq list | peco --query "$lbuffer")"
  if [ -n "$src" ]; then
      cd $src
  fi
}

function fdcd() {
  cd "$(fd . -type d | peco)"
}

function fdvim() {
  vim "$(fd . | peco --select-1)"
}

function rgvim() {
  vim "$(rg $1 | grep -e "!^\w:" | peco --select-1)"
}

function git-select-branch() {
  git branch | peco --select-1 --query "$RBUFFER" | sed 's/\*//'
}

function git-checkout-list() {
  git checkout $(git-select-branch)
}
alias gcbl="git-checkout-list"

function git-push-list() {
  git push origin $(git-select-branch)
}
alias gpsl="git-push-list"

function git-pull-list() {
  git pull origin $(git-select-branch)
}
alias gpll="git-pull-list"

function ssh-select-host {
  ssh $(cat ~/.ssh/config | grep '^Host\s' | sed 's/Host//' | peco --select-1 --query "$RBUFFER" )
}

function docker-image-select {
  docker images --format "{{.ID}}\t{{.Repository}}\t{{.Tag}}\t{{.CreatedSince}}\t{{.CreatedAt}}" | peco | cut -f 1
}

function docker-container-select {
  docker ps --format "{{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Command}}\t{{.RunningFor}}" | peco | cut -f 1
}

function start-project {
  cp -R "$HOME/.project.template/$(ls $HOME/.project.template | peco)" $1
}

function peco-select-tmux-session()
{
  local res
  res=$(tmux list-sessions | peco | awk -F':' '{print $1}')
  if [ -n "$res" ]; then
    _cool-peco-insert-command-line "tmux attach -t $res"
  fi
}
